<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <div class="hero-tekst">
            <h1>Uplovi sa nama kroz vreme uz dobru muziku i provod!</h1>
            <h2>Budi deo vremeplova! Zaplovi u nove pustolovine sa nama.</h2>
        </div>

        <img src="/img/logo.svg" alt="vremeplovLogo" class="hero-img">

        <div class="ig">
            <a href="https://www.instagram.com/vremepl0v/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </div>
    </main>

    <footer>
        <img src="/img/favicon-32x32.png" alt="vremepl0v" class="futer-img">
        <p class="futer-p"> </p>
    </footer>
</body>