body{
    /* background-image: linear-gradient(45deg, var(--bg), #fc9d50); */
    background-color: rgb(214, 214, 214);
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 1em;
    /* border: 4px solid black; */
}

.zurke{
    width: 100%;
    height: max-content;
    background-color:black;
    border: 3px solid black;
}

.users{
    width: 100%;
    height: max-content;
    background-color:white;
    border: 3px solid black;

}

.user{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0;
}
/* -- */
.users h1{
    font-size: 3em;
}

.users-dodaj{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.dodaj{
    font-size: 2em;
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: .5em;
    border-radius: 20px;
    display: flex;
}

.dodaj ion-icon{
    align-self: center;
}

.user-info:nth-child(1){
    border-top: 2px solid white;
}
.user-info:last-child{
    border-bottom: none;
}

.user-info{
    background: black;
    color: white;
    align-items: center;
    /* margin-top: 1em; */
    display: flex;
    font-size: 1.5em;
    padding: .5em 1em;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid white;
  
}

.user-akcije{
    display: flex;
    gap: 1em;
}

.user-akcije button {
height: 100%;
/* padding: 1em; */
font-size: 1em;
background-color: black;
color: white;
}

.zurke .users-dodaj{
    color: white;
    font-size: 1em;
}

@media (min-width:950px){
    .container{
        flex-direction: row;
    }
}