body{
    /*    background-image: linear-gradient(45deg, var(--bg), #fc9d50); */
    background-color: rgb(214, 214, 214);
}

.container{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2em;
}

.opis .opis-naziv{
    font-weight: 900;
    font-size: 2.2em;
}

.opis-tekst{
    text-align: justify;
    font-size: 1em;
    font-weight: 400;
}

.tim{
    position: absolute;
    right: 4.2%;
    top: 50%;
    background-color: black;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* transition: .5s ease; */
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
}

.tim.active{
    background-color: black;
    display: flex;
    border-radius: 0;
    font-size: 1em;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: max-content;
    text-align: left;
    justify-content: flex-start;
}

.tim.active main{
    pointer-events: none;
}

.tim h2{
    color: white;
    font-weight: 900;
    font-size: 2em;
    padding: .5em .5em;
    display: none;
}

.tim.active h2{
    display: initial;
}

.tim ion-icon{
    align-self: center;
    height: 100%;
    font-size: 2.5em;
    color: white;
}

.tim.active ion-icon{
    display: none;
}

.tim-clan{
    display: none
}

.tim.active .tim-clan{
    display: flex;
    justify-content: space-between;
    /* gap: 2em; */
    width: 100%;
    padding: .5em 1em;
    /* display: block; */
    /* background-color: palegoldenrod; */
    color: white;
    border-bottom: 2px solid white;
}

.forma{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    color: white;
    font-weight: 900;
    margin-bottom: 1em;
}

.forma input{
    position: relative;
    background-color: black;
    border: 2px solid white;
    padding: 1em;
    color: white;
}
.forma input[type="submit"]{
    cursor: pointer;
}

.forma input[type="submit"]:hover{
background: var(--tranzicija);
transition: background .5s ease;
background-size: 200%;
color: black;
}
/* 
.forma input::before{
    content: 'Ime';
    width: 200px;
    background-color: red;
  
} */

@media (min-width:700px){
    .opis-tekst{
        font-size: 1.2em;
    }

    .tim{
        top: 32%;
    }
}

@media (min-width:950px){
    .container{
        margin: .5em 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .opis{
        width: 47%;
    }

    .opis .opis-naziv{
        font-size: 3em;
    }
    .opis-tekst{
        margin-left: 1em;
        margin-top: .5em;
        font-size: 1.3em;
    }

    .tim{
        position: relative;
        right: 0;
        min-width: 100%;
        border-radius: 0;
        height: max-content;
        box-shadow: none;
        }

    .tim.active{
        width: 100%;
    }

    .tim-clan{
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        /* gap: 2em; */
        width: 100%;
        padding: .5em 1em;
        /* display: block; */
        /* background-color: palegoldenrod; */
        color: white;
        border-bottom: 2px solid white;
    }

    .tim h2{
        display: block;
        border-bottom: 2px solid white;
    }

    .forma{
        width: 46%;
        font-weight: 900;
        font-size: 1em;
    }

    .forma input{
        font-size: .8em;
    }
}